.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.a-right{
    flex: 1;
    margin-right: 4vw;
    line-height: 1.7;
}

.a-card.bg{
    position: absolute;
    top: -25px;
    left: 5px;
    background-color:#333;
}

.a-card{
    width: 85%;
    margin-left: 40px;
    height: 65vh;
    border-radius: 30px;
    position:relative;
    overflow: hidden;
}

.a-img{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.a-title {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .a-sub {
    margin: 20px 0px;
    font-size: 1.15rem;
    font-weight: 500;
  }
  
  .a-desc1{
      font-weight: 300;
      font-size: 1.15rem;
  }