.p{
    width: 90%;
    /* max-width: 40vw; */
    height: 90%;
    border: 2px solid rgba(243, 242, 242, 0.555);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}

.p-wrap{
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.301);
    grid-template-columns: 1fr 1fr;
    background: #1e607469;
    padding: 1rem 1.2rem;
    max-height: 30vw;
    place-items: center;
    column-gap: 1rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}

.p-browser{
    height: 17px;
    padding: 2px;
    background-color: rgba(243, 242, 242, 0.178);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle{
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    background-color: white;
}

.p-img{
    width: 100%;
    transition: all 4s ease;
}

.p:hover .p-img{
    transform: translateY(-30%);
}

.p-description{
    padding: 1rem;
    width: 90%;
    max-height: 90%;
    display: grid;
    place-items: center;
    background: #1b3a4573;
}

.p-description h1{
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.p-description p{
    font-size: 1.2rem;
}