.p{
    width: 90%;
    /* max-width: 40vw; */
    height: 90%;
    border: 2px solid rgba(243, 242, 242, 0.555);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}

.p-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(48, 48, 173, 0.342)!important;
    padding: 1rem 1.2rem;
    max-height: 30vw;
    place-items: center;
    column-gap: 1rem;
}

.p-browser{
    height: 17px;
    padding: 2px;
    background-color: rgba(243, 242, 242, 0.178);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle{
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    background-color: white;
}

.p-img{
    width: 100%;
    transition: all 13s ease;
}

.p:hover .p-img{
    transform: translateY(-100%);
}

.p-description{
    height: 90%;
    width: 90%;
    max-height: 90%;
    display: grid;
    place-items: center;
}

.p-description p{
    font-size: 1rem;
}